<section id="speaker"></section>
<ul id="log"></ul>

<script type="text/javascript">
    $(function(){
        var pubnub = PUBNUB.init({
            subscribe_key : "{{pubnub_key}}",
            publish_key : "{{pubnub_publish_key}}"
        });

        pubnub.subscribe({
            channel : "keyboard",
            message : function(m){
                var key = m.key;
                $('#log').prepend($('<li>').addClass(key));
                playKey(key);
            }
        });

        var keys = [
            {key: 'a', i: -12},
            {key: 'b', i: -10},
            {key: 'c', i: -8},
            {key: 'd', i: -7},
            {key: 'e', i: -5},
            {key: 'f', i: -3},
            {key: 'g', i: -1}
        ];
        var audios = [];
        var cursound = [];
        var nots = [];
        var cursnot = [];
        var x = 0;

        var dataURI;
        for (x = -12; x <= 13; x++) {
            dataURI = Notes.getDataURI(x, {styleFn: DataGenerator.style.squareWave});
            nots[x] = [
                new Audio(dataURI),
                new Audio(dataURI),
                new Audio(dataURI),
                new Audio(dataURI),
                new Audio(dataURI)
            ];
            cursnot[x] = 0;
        }

        keys.forEach(function(el){
            var key = el.key;
            var i = el.i;
            var dataURI = Notes.getDataURI(i);
            audios[key] = [
                new Audio(dataURI),
                new Audio(dataURI),
                new Audio(dataURI),
                new Audio(dataURI),
                new Audio(dataURI)
            ];
            cursound[key] = 0;
        });

        function playKey(key) {
            var cur = cursound[key];
            audios[key][cur].pause();
            audios[key][cur].play();
            cursound[key] = ++cur % audios[key].length;
        }

        function playNote(note) {
            var cur = cursnot[note];
            nots[note][cur].pause();
            nots[note][cur].play();
            cursnot[note] = ++cur % nots[note].length;
        }

        var chopsticks = (function() {
            var data = [
                {
                    'style': 'wave',
                    'volume': 'linearFade',
                    'notesOffset': 0
                }
            ];

            var main = [
                [6, -7, -5],
                [6, -7, -5],
                [6, -7, -5],
                [6, -7, -5],
                [6, -7, -5],
                [6, -7, -5],

                [6, -8, -5],
                [6, -8, -5],
                [6, -8, -5],
                [6, -8, -5],
                [6, -8, -5],
                [6, -8, -5],

                [6, -10, -1],
                [6, -10, -1],
                [6, -10, -1],
                [6, -10, -1],
                [6, -10, -1],
                [6, -10, -1],

                [6, -12, 0],
                [6, -12, 0],
                [6, -12, 0]
            ];

            data.push.apply(data, main);
            data.push(
                    [6, -12, 0],
                    [6, -10, -1],
                    [6, -8, -3]
            );
            data.push.apply(data, main);
            data.push(
                    [6, -12, 0],
                    [6, -5],
                    [6, -8],

                    [6, -12],
                    [12]
            );

            var main2 = [
                [6, 0, 4],
                [6, -1, 2],
                [6],

                [6, -3, 0],
                [6, -5, -1],
                [6],

                [6, -7, -3],
                [6, -8, -5],
                [6],

                [6, 0, 4],
                [6, 0, 4],
                [6],

                [6, -8, -5],
                [6, -10, -7],
                [6],

                [6, -1, 2],
                [6, -1, 2],
                [6]
            ];
            data.push.apply(data, main2);
            data.push(
                    [6, -10, -7],
                    [6, -12, -8],
                    [6],

                    [6, -8, 0],
                    [6, -8, 0],
                    [6]
            );
            data.push.apply(data, main2);
            data.push(
                    [6, -5, -1],
                    [6, -8, 0],
                    [6, -5],

                    [6, -8],
                    [6, -12],
                    [6]
            );
            return data;
        })();


        var demoing = false, demoingTimeout, notesOffset;
        function demo(data) {
            var cfg = data[0];
            if (!demoing) {
                demoing = true;
                cfg.style && (DataGenerator.style.default = DataGenerator.style[cfg.style]);
                cfg.volume && (DataGenerator.volume.default = DataGenerator.volume[cfg.volume]);
                cfg.notesOffset !== undefined && (notesOffset = cfg.notesOffset);

                    //NOTE - jQuery.map flattens arrays
                    var i = 0, song = $.map(data, function(x, i) { return i == 0 ? null : [x]; });
                    (function play() {
                        if (!demoing) return;
                        if (i >= song.length) { i = 0; }
                        var part = song[i++];
                        if (part) {
                            var delay = part[0];
                            demoingTimeout = window.setTimeout(function() {
                                demoing && play();
                                for (var j=1, len=part.length; j<len; j++) {
                                    playNote(part[j]);
                                }
                            }, delay*50);
                        }
                    })();
            }
        }

        function demoHandler(evt) {
            if (evt.keyCode == 77) {
                if (demoing) {
                    demoing = false;
                    window.clearTimeout(demoingTimeout);
                } else {
                    demo(chopsticks);
                }
            }
        }

        $(window).keyup(demoHandler);
    });
</script>